$main-color-red: #E20A3E;

$focus-color-red: #CB0131;

$main-color-blue: #0019ff;

$main-color-dark-blue: #0015D4;

$helper-color-blue: #177AFF;

$main-gray-color: #E8EDFF;

$helper-color-gray: #7E818F;

$helper-color-green: #3AC759;

$helper-color-yellow: #F5D04C;

$main-black-color: #040404;

