.catalogue-sort__wrapper.catalogue-sort__wrapper--small-screen
    button(type='button').catalogue-sort-btn По цене
        +svg-mix('arrow-long')
    button(type='button').catalogue-sort-btn.catalogue-sort-btn--active-color.catalogue-sort-btn--active-arrow По наличию
        +svg-mix('arrow-long')
    button(type='button').catalogue-sort-btn По популярности
        +svg-mix('arrow-long')