block social-buttons
        div.social-buttons
            a(href="#").social-buttons__item   Я
            a(href="#").social-buttons__item   VK
            a(href="#").social-buttons__item   F
            a(href="#").social-buttons__item   G
            a(href="#").social-buttons__item   ok
