include ../product-tabs/product-tabs
include ../../modules/helper-mixins/main-caption
include ../helper-mixins/svg-mix
mixin payment-delivery-block__text(text, href)
    .payment-delivery-block__text
        a(href=href v-scroll-to=href) #{text}
mixin info-payment-delivery-block
    .payment-delivery-block
        h1.lk-block__title Оплата и доставка
        .payment-delivery-block__tabs
            +tab-btn(1).payment-delivery-block__tabs-item.active
                | Оплата
            +tab-btn(2).payment-delivery-block__tabs-item
                | Доставка

        .payment-delivery-block__contents
            +tab-content(1).payment-delivery-block__contents-item.active
                +payment-delivery-block__text('1. Способы оплаты товаров', '"#payment1"')
                +payment-delivery-block__text('1.1.   Оплата счета через банк', '"#payment11"')
                +payment-delivery-block__text('1.2.   Оплата счета наличными в кассу ПОЛИМАТ (при розничной покупке)', '"#payment12"')
                +payment-delivery-block__text('1.3.   Оплата в интернет-магазине ПОЛИМАТ', '"#payment13"')
                +payment-delivery-block__text('1.4.   Отсрочка платежа', '"#payment14"')
                +payment-delivery-block__text('1.5.   Оформление заказа', '"#payment15"')

                .payment-delivery-block__text.payment-delivery-block__text--mb-06
                    a(href="#")
                        +svg-mix('pdf-ico')
                        span Публичная оферта по оплате через интернет-магазин на ООО «Всё для календарей»
                .payment-delivery-block__text.payment-delivery-block__text--mb-06
                    a(href="#")
                        +svg-mix('pdf-ico')
                        span Публичная оферта по оплате через интернет-магазин на ИП Зарецкий А.В.

                #payment1.payment-delivery-block__text-title Способы оплаты товаров
                
                #payment11.payment-delivery-block__text-subtitle 1.1.   Оплата счета (полученного у менеджеров ПОЛИМАТ или в интернет – магазине ПОЛИМАТ) через банк.
                .payment-delivery-block__text
                    p.is-gray Безналичными
                    p.is-gray Наличными (для физических лиц)

                #payment12.payment-delivery-block__text-subtitle 1.2.   Оплата счета наличными в кассу ПОЛИМАТ (при розничной покупке)

                #payment13.payment-delivery-block__text-subtitle 1.3  Оплата в интернет – магазине ПОЛИМАТ (только товары БЕЗ НДС!)
                .payment-delivery-block__text
                    p.is-gray Банковской картой (VISA, MASTERCARD, DCI) – для физических и юридических (корпоративная карта) лиц,
                    p.is-gray Электронной наличностью (WebManey, QIWI, Яндекс.Деньги) – для физических лиц.
                .payment-delivery-block__text
                    P Оплата через банк: при отгрузке заказа выдается оригинал счета, накладная и счет-фактура.
                .payment-delivery-block__text
                    p Оплата в кассе ПОЛИМАТ или в интернет – магазине: при отгрузке заказа выдается товарная накладная,
                        | счет – фактура и кассовый чек (при оплате через кассу). По запросу выдается приходный ордер.
                .payment-delivery-block__text
                    p При получении товара, оплаченного от юридического лица, требуется доверенность от организации.
                        | Для физического лица необходимы паспорт и (желательно) распечатка счета.

                #payment14.payment-delivery-block__text-subtitle 1.4.  Отсрочка платежа
                .payment-delivery-block__text
                    p Для клиентов, не имеющих права на отсрочку платежа, требуется 100% предоплата (поступление денег
                        |на расчетный счет или в кассу Продавца, информация платежных систем о проведенной транзакции
                        |(списании средств) при оплате банковской картой или электронной наличностью) для получения продукции ПОЛИМАТ.
                .payment-delivery-block__text
                    P Решение о предоставлении права на отсрочку платежа для постоянных клиентов принимается руководством
                        |компании ПОЛИМАТ. В этом случае также принимается решение о разрешенном лимите задолженности и
                        |разрешенном сроке оплаты после получения заказа, превышение которых приводит к прекращению
                        |отгрузок продукции ПОЛИМАТ до погашения всех задолженностей.

                #payment15.payment-delivery-block__text-subtitle 1.5.  Оформление заказа
                .payment-delivery-block__text
                    p Добавьте выбранные товары в корзину. Перейдите на страницу&nbsp
                        a(href="basket.html") Моя корзина
                        |  и нажмите "Оформить заказ".
                .payment-delivery-block__text
                    P Если Вы у нас впервые - пожалуйста,&nbsp
                        a(href="reg-main.html") зарегистрируйтесь
                        | , заполнив все поля.
                
            +tab-content(2).payment-delivery-block__contents-item
                +payment-delivery-block__text('1.   Компанией Полимат по Москве', '"#delivery1"')
                +payment-delivery-block__text('1.1.  Доставка автотранспортом', '"#delivery11"')
                +payment-delivery-block__text('1.2.  Курьерская доставка', '"#delivery12"')
                +payment-delivery-block__text('1.3.  Доставка до транспортных компаний  ТК – ПАРТНЕР ПОЛИМАТ', '"#delivery13"')
                +payment-delivery-block__text('1.4.  Условия доставки до транспортной компании', '"#delivery14"').payment-delivery-block__text--mb-3
                +payment-delivery-block__text('1.5.  Доставка до выбранной вами транспортной компании', '"#delivery15"')
                +payment-delivery-block__text('2.  Самовывоз', '"#delivery2"')
                +payment-delivery-block__text('2.1.  Самовывоз собственной транспортной (курьерской) службой', '"#delivery21"')
                +payment-delivery-block__text('2.2.  Самовывоз выбранной вами транспортной компанией', '"#delivery22"')
                +payment-delivery-block__text('3.  Условия разрешения на получение товара', '"#delivery3"')

                #delivery1.payment-delivery-block__text-title Доставка компанией Полимат по Москве в пределах МКАД

                #delivery11.payment-delivery-block__text-subtitle 1.1.  Доставка автотранспортом (разгрузка осуществляется ПОКУПАТЕЛЕМ) Доставка компанией ПОЛИМАТ осуществляется силами транспортных компаний Москвы.
                .payment-delivery-block__text
                    p Стоимость доставки определяется суммой заказа и не зависит от веса и объема продукции.
                .payment-delivery-block__text
                    p.is-gray при стоимости заказа - свыше 10000: 1500 рублей / заказ
                    p.is-gray при стоимости заказа - до 10000 рублей: 3000 рублей / заказ
                .payment-delivery-block__text
                    p Доставка (при соблюдении «Условий разрешения на получение товара») осуществляется, как правило, на 2-4 рабочий день
                .payment-delivery-block__text
                    p.is-gray после поступления 100% предоплаты на счет Продавца – для клиентов, не имеющих права на отсрочку
                    p.is-gray после сообщения о необходимости доставки данного заказа своему менеджеру – для клиентов, имеющих право на отсрочку.
                .payment-delivery-block__text
                    p Доставка автотранспортом по г. Москва в пределах МКАД (разгрузка осуществляется ПОКУПАТЕЛЕМ)

                #delivery12.payment-delivery-block__text-subtitle 1.2.  Курьерская доставка по г. Москва в пределах МКАД
                .payment-delivery-block__text
                    p Стоимость доставки курьерской службой (осуществляется по Москве только внутри МКАД) определяется весом груза.
                .payment-delivery-block__text
                    p.is-gray при весе груза до 5 кг: 350 рублей / заказ
                    p.is-gray при весе груза от 5 до 8 кг: 550 рублей / заказ
                .payment-delivery-block__text
                    p Доставка (при соблюдении «Условий разрешения на получение товара») осуществляется на 2-4 рабочий день
                .payment-delivery-block__text
                    p.is-gray после поступления 100% предоплаты на счет Продавца – для клиентов, не имеющих права на отсрочку
                    p.is-gray после сообщения о необходимости доставки данного заказа своему менеджеру – для клиентов, имеющих право на отсрочку.

                #delivery13.payment-delivery-block__text-subtitle 1.3.  Доставка до транспортных компаний ТК – ПАРТНЕР ПОЛИМАТ (до терминала ТК в пределах МКАД)
                .payment-delivery-block__text
                    p.is-red ВНИМАНИЕ!
                    p.is-red Комплектация товара для Транспортной компании, производится строго по оплаченным счетам (деньги поступили на наш расчетный счет) НЕ ПОЗДНЕЕ, ЧЕМ ЗА СУТКИ до отгрузки в ТК!
                .payment-delivery-block__text
                    p Если вы выбираете транспортную компанию из списка ТК – ПАРТНЕРОВ ПОЛИМАТ (см. таблицу ниже), сообщите нам
                .payment-delivery-block__text
                    p.is-gray её название,
                    p.is-gray адрес доставки,
                .payment-delivery-block__text
                    p и мы передадим заказ в транспортную компанию. Вы оплачиваете только услуги доставки транспортной компании непосредственно при получении заказа. Вместе с грузом вы получаете полный пакет необходимых документов (см. ниже «Документы», одну подписанную вами накладную необходимо будет отправить в компанию ПОЛИМАТ).
                    p Доставка компанией ПОЛИМАТ до транспортных компаний ПАРТНЕРОВ ПОЛИМАТ осуществляется БЕСПЛАТНО. Никакая дополнительная плата не берется вне зависимости от стоимости, веса и объема груза.
                .payment-delivery-block__text
                    p Следующие ТК являются ПАРТНЕРАМИ ПОЛИМАТ (указаны также дни отгрузки):
                .payment-delivery-block__text
                    table.payment-delivery-block__table
                        caption.is-gray День отгрузки
                        tr
                            td.is-gray Название
                            td Пн
                            td Вт
                            td Ср
                            td Чт
                            td Пт
                            td Сб
                        tr
                            td Деловые линии
                            td.is-green
                            td.is-green +
                            td.is-green
                            td.is-green
                            td.is-green
                            td.is-green +
                        tr
                            td Байкал-сервис
                            td.is-green +
                            td.is-green
                            td.is-green
                            td.is-green +
                            td.is-green
                            td.is-green
                        tr
                            td Желдорэкспедиция
                            td.is-green
                            td.is-green
                            td.is-green +
                            td.is-green
                            td.is-green
                            td.is-green
                        tr
                            td Главдоставка
                            td.is-green
                            td.is-green
                            td.is-green +
                            td.is-green
                            td.is-green
                            td.is-green

                #delivery14.payment-delivery-block__text-subtitle 1.4.  Доставка до транспортной компании (при соблюдении «Условий разрешения на получение товара») осуществляется на следующий день (в соответствии с приведенной выше таблицей)
                .payment-delivery-block__text
                    p.is-gray после поступления 100% предоплаты на счет Продавца – для клиентов, не имеющих права на отсрочку.
                    p.is-gray после сообщения о необходимости доставки данного заказа своему менеджеру – для клиентов, имеющих право на отсрочку.
                .payment-delivery-block__text
                    p ТАРИФЫ при пересылке транспортной компанией Вы можете уточнить на сайте выбранной вами транспортной компании.
                    p Решение о жесткой упаковке (обрешетке груза) и заказе данной услуги в транспортной компании принимается и реализуется клиентом САМОСТОЯТЕЛЬНО. Соответствующие расценки – на сайте вашей транспортной компании.

                #delivery15.payment-delivery-block__text-subtitle 1.5.  Доставка до выбранной вами транспортной компании (в переделах МКАД), не являющейся ТК – ПАРТНЕР ПОЛИМАТ
                .payment-delivery-block__text
                    p Доставка компанией ПОЛИМАТ до транспортных компаний, не являющимися ТК - ПАРТНЕРАМИ ПОЛИМАТ, осуществляется в соответствии с расценками и условиями, приведенными выше – «Доставка компанией Полимат по Москве».
                .payment-delivery-block__text
                    p В данном случае вы должны также выполнить следующие дополнительные условия:
                    p.is-gray сообщить название транспортной компании
                    p.is-gray ее адрес
                    p.is-gray телефон
                    p.is-gray контактное лицо в транспортной компании, извещенное вами о вашей доставке
                    p.is-gray схему проезда
                .payment-delivery-block__text.payment-delivery-block__text--mb-3
                    p Сроки ДОСТАВКИ и ТАРИФЫ при пересылке транспортной компанией Вы можете уточнить на сайте выбранной вами транспортной компании.

                #delivery2.payment-delivery-block__text-title Самовывоз
                #delivery21.payment-delivery-block__text-subtitle 2.1.  Самовывоз собственной транспортной (курьерской) службой
                .payment-delivery-block__text
                    p В случае самостоятельно вывоза товара («самовывоза») со склада компании Полимат у покупателя или его представителя должны быть при себе доверенность или печать той организации, от которой произведен платеж по выставленному счету. Для физического лица (в том числе совершившего оплату через интернет банковской картой или электронной наличностью) необходимо наличие паспорта и желательна распечатка счета.
                .payment-delivery-block__text
                    p Самовывоз осуществляется при соблюдении «Условий разрешения на получение товара».
                .payment-delivery-block__text
                    p Самовывоз осуществляется по адресу: 107497, г. Москва, ул. Амурская, д.5, на территории строение 2. Пропуск предварительно заказывать не надо. Схема проезда
                .payment-delivery-block__text
                    p.is-red ВНИМАНИЕ
                    p.is-red ДЛЯ ПРОХОДА ЧЕРЕЗ ПРОХОДНУЮ ПРИ СЕБЕ НЕОБХОДИМО ИМЕТЬ ДОКУМЕНТ, УДОСТОВЕРЯЮЩИЙ ЛИЧНОСТЬ!
                .payment-delivery-block__text
                    p ДЛЯ заказывающих курьерскую службу ДОСТАВИСТА:
                .payment-delivery-block__text
                    p Курьеру указать номер счета (заказа)
                    p Обязательно уведомить менеджера компании ПОЛИМАТ: на электронную почту выслать доверенность вашей организации с подписью и печатью

                #delivery22.payment-delivery-block__text-subtitle 2.2.  Самовывоз выбранной вами транспортной компанией
                .payment-delivery-block__text
                    p В случае самостоятельно вывоза товара («самовывоза») со склада компании Полимат выбранной покупателем транспортной компанией, покупателю необходимо не позднее чем за сутки до отгрузки на электронную почту менеджера, с которым работает ПОКУПАТЕЛЬ, отправить письмо со следующей информацией:
                .payment-delivery-block__text
                    p.is-gray названием транспортной компании,
                    p.is-gray контактным лицом в транспортной компании,
                    p.is-gray телефоном для оперативных контактов,
                    p.is-gray примерной датой приезда транспортной компании.
                    p.is-gray Самовывоз осуществляется при соблюдении 
                    p.is-gray «Условий разрешения на получение товара».
                .payment-delivery-block__text.payment-delivery-block__text--mb-3
                    p Самовывоз осуществляется по адресу: 107497, г. Москва, ул. Амурская, д. 5, на территории строение 2. 
                    p Пропуск предварительно заказывать не надо. 
                        a(href="how-to-get.html") Схема проезда

                #delivery3.payment-delivery-block__text-title Условия разрешения на получение товара
                #delivery31.payment-delivery-block__text-subtitle 3.1.  Для компаний, имеющих право на отсрочку платежа
                .payment-delivery-block__text
                    p Для компаний, имеющих право на отсрочку платежа, отгрузка разрешена в случае, когда не превышен разрешенный лимит задолженности и не превышены разрешенные сроки платежей. 
                #delivery32.payment-delivery-block__text-subtitle 3.2.  Для компаний, не имеющих право на отсрочку платежа
                .payment-delivery-block__text
                    p Для компаний, не имеющих право на отсрочку платежа, отгрузка разрешена в случае, когда отгружаемый товар полностью оплачен (деньги поступили на расчетный счет организации либо пришло оповещение об оплате карточкой или электронными деньгами). 
                