include ../../control-elements/buttons/btn-main
include ../../breadcrumbs/breadcrumbs

block pass-new
    section.section.pass-new
        div.section__wrapper
            +breadcrumbs('Новый пароль')
            form.pass-new-form
                h1.pass-new-form__heading Новый пароль
                div.pass-new-form__text    Новый пароль оправлен на указанную вами почту
                div.pass-new-form__button
                    +btn-main(class='btn--other btn--blue-invert')    Войти