@include above($small-phone) {
  .pass-new {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pass-new-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    align-items: center;
  }

  .pass-new-form__heading {
    font-size: 2rem;
    line-height: 2.3rem;
    color: #000000;
    margin-bottom: 1.5rem;
    font-style: normal;
    font-weight: normal;
  }

  .pass-new-form__text {
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    color: #000000;
    width: 75%;
    margin-bottom: 1.8rem;
  }

  .pass-new-form__button {
    margin-bottom: 2.2rem;
    width: 22.2rem;
  }
}

@include above($phone) {
  .pass-new-form {
    width: 34rem;
  }
}

@include above($tablet-landscape) {
  .pass-new-form__heading {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}

