include ../../control-elements/buttons/btn-main
include ../../control-elements/inputs/input-main
include ../../breadcrumbs/breadcrumbs

block password-rename
    section.section.pass-rename
            div.section__wrapper
                +breadcrumbs('Изменение пароля')
                form.pass-rename-form
                    h1.pass-rename-form__heading Изменение пароля
                    div.pass-rename-form__input
                        +input-main(type='email' placeholder='Ваш e-mail при регистрации')
                    div.pass-rename-form__text    Мы отправил вам ссылку на Email для создания нового пароля
                    div.pass-rename-form__button
                        +btn-main(class='btn--other btn--blue-invert')    Войти
                    a(href="auth.html").pass-rename-form__link Авторизация
