@include above($small-phone) {
  .pass-rename {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pass-rename-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 3.4rem;
    align-items: center;
  }

  .pass-rename-form__heading {
    font-size: 2rem;
    line-height: 2.3rem;
    color: #000000;
    margin-bottom: 2.7rem;
    font-style: normal;
    font-weight: normal;
  }

  .pass-rename-form__input {
    width: 100%;
    margin-bottom: 0.9rem;
  }

  .pass-rename-form__input::placeholder {
    color: $helper-color-gray;
  }

  .pass-rename-form__text {
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    color: #000000;
    width: 75%;
    margin-bottom: 2rem;
  }

  .pass-rename-form__button {
    width: 22.2rem;
    margin-bottom: 2.2rem;
  }

  .pass-rename-form__button:hover {
    background: #0015D4;
    cursor: pointer;
  }

  .pass-rename-form__link {
    cursor: default;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $main-color-blue;
    text-decoration-line: underline;
    transition: color ease 0.25s, background-color ease 0.25s, border ease 0.25s;

    @include above($desktop) {
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }

  @include above($phone) {
    .pass-rename-form {
      width: 34rem;
    }
  }

  @include above($tablet-landscape) {
    .pass-rename-form__heading {
      font-size: 2.6rem;
      line-height: 3rem;
    }
  }
}

