.sub-navigation__item-list {
  display: flex;
  flex-direction: column;

  & ul {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 160%;
    color: #000000;
    margin-bottom: 1.8rem;

    & li {

      &:first-of-type {
        @include above($tablet-landscape){
          margin-top: 0.7rem;
        }
      }

      & a {
        display: flex;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 160%;
        color: #000000;
        text-decoration: none;
        transition: color ease 0.25s;

        @include above($desktop) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}