.lk-subscribe{

  &__heading {
    display: none;
    @include above($tablet) {
      display: block;
      font-weight: normal;
      font-style: normal;
      font-size: 2rem;
      line-height: 2.3rem;
      color: #000000;
    }
  }
  &__caption{
    font-size: 1.8rem;
    line-height: 2.1rem;
    display: none;
    @include above($tablet){
      display: flex;
      font-size: 2rem;
      line-height: 2.3rem;
    }
  }
  &__sub-caption{
    font-size: 1.2rem;
    line-height: 1.4rem;
    @include above($tablet){
      margin-top: 0;
    }

    &--separator{
      margin-top: 3rem;
      margin-bottom: 0.3rem;
      @include above($tablet){
        margin-top: 2.8rem;
      }
    }
    @include above($tablet){
      font-size: 1.4rem;
      margin-top: 2.3rem;
    }
    &--is-gray{
      color: $helper-color-gray;
      line-height: 3.1rem;
      padding-left: 0.3rem;
      @include above($tablet){
        margin-top: 0;
      }
    }
    &--bold{
      font-weight: 500;
    }
    &--first{
      @include above($tablet){
        margin-top: 1.7rem;
      }
    }
  }
  &__text{
    font-size: 1.4rem;
    margin-top: 2.6rem;
  }
  &__checkbox-wrapper{
    height: 2.5rem;
    margin-top: 0.6rem;
    &--info{
      margin-top: 2rem;
      @include above($tablet){
        margin-top: 5.4rem;
      }
    }
    .checkbox-label{
      font-size: 1.2rem;
      line-height: 1.4rem;
      padding-top: 0.6rem;
    }
  }
  &__number-input.inp{
    width: 5.3rem;
    min-height: 2rem;
    height: 2rem;
    padding: 0 0.2rem 0 0.8rem;
    margin-left: 21.7rem;
    margin-top: -1rem;
    border: 0.2rem solid $main-gray-color;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  &__input-quan-wrapper{
    position: relative;
    .inp__wrapper.inp__wrapper--error:before,
    .inp__wrapper.inp__wrapper--error:after{
      display: none;
      height: 7rem;
      width: 1rem;
    }
    .inp__wrapper--error > .inp__error-message {
      left: 16rem;
    }
    .inp__wrapper--error>.inp--error,
    .inp__wrapper--error>.inp--error:focus,
    .inp__wrapper--error>.inp--error:hover {
      padding-right: 0;
    }
  }


}