include ../info-dealers-list/info-dealers-list

mixin info-dealers
    .dealers
        .dealers__row
            .dealers__col
                - 
                    var items = [
                        [
                            'Все Для Календарей',
                            'Москва, Россия, ЕАЭС',
                            ['+7 (495) 287-3377']
                        ],
                        [
                            'ИП Зарецкий А.В.',
                            'Москва, Россия, ЕАЭС',
                            ['+7 (495) 777-3053']
                        ]
                        
                    ]
                +info-dealers-list('ДИСТРИБЬЮТОРЫ Торгового Дома Полимат', items)
            
                - 
                    var items = [
                        [
                            'ИРМ-1',
                            'Москва',
                            ['+7 (495) 740-0077']
                        ],
                        [
                            'Печатный Двор',
                            'Екатеринбург',
                            ['+7 (343) 319-5784', '+7 (343) 319-5785', '+7 912-247-7798']
                        ],
                        [
                            'Группа компаний СЛОН',
                            'Калининград',
                            ['+7 (4012) 237-9120', '+7 (4012) 237-5935']
                        ],
                        [
                            'Фабрика календарей',
                            'Пермь',
                            ['+7 (342) 200-94-93', '+7 (342) 240-84-63']
                        ],
                        [
                            'Ламитех-Дон',
                            'Ростов-на-Дону',
                            ['+7 (863) 299-3301', '+7 (863) 299-3302', '+7 (863) 231-8686']
                        ],
                        [
                            'Сервисный центр',
                            'Ярославль',
                            ['+7 (485) 232-8700']
                        ]
                        
                    ]
                +info-dealers-list('ОФИЦИАЛЬНЫЕ ДИЛЕРЫ', items)

                - 
                    var items = [
                        [
                            'ФорПринт',
                            'Нижний Новгород',
                            ['+7 (831) 291-0462']
                        ],
                        [
                            'Магазин «Революция Цвета»(ИП Вахидов Т.Р.)',
                            'Пенза',
                            ['+7 (8412) 990-990', '+7 (8412)493-844']
                        ],
                        [
                            'Цифровая типография "Ай Кью Пресс"',
                            'Пермь',
                            ['+7 (342) 229-1309','+7 (342) 240-3670']
                        ],
                        [
                            'Информационные Технологии',
                            'Рязань',
                            ['+7 (4912) 984-249']
                        ],
                        [
                            'Пространство цвета',
                            'Уфа',
                            ['+7 (347) 292-1670', '+7 (347) 292-1671']
                        ],
                        [
                            'Форт Диалог',
                            'Чебоксары',
                            ['+7 (8253) 240-240']
                        ]
                    ]
                +info-dealers-list('НАШИ ПРЕДСТАВИТЕЛИ', items)
            
            .dealers__col
                - 
                    var items = [
                        [
                            'Мега-Принт',
                            'Москва',
                            ['+7 (495) 287-0206']
                        ],
                        [
                            'Русском',
                            'Москва',
                            ['+7 (495) 785-5805']
                        ],
                        [
                            'Sunprint',
                            'Москва',
                            ['+7 (495) 481-90-09']
                        ],
                        [
                            'Санстел',
                            'Москва',
                            ['+7 (495) 580-29-70']
                        ],
                        [
                            'Форофис',
                            'Москва',
                            ['+7 (495) 228-20-11', '+7 (800) 333-10-11']
                        ],
                        [
                            'Чеял',
                            'Москва',
                            ['+7 (495) 287-0990']
                        ],
                        [
                            'МУЛЬТИГРАФИК',
                            'Санкт-Петербург',
                            ['+7 (911) 922-88-79']
                        ],
                        [
                            'Типография Дапринт',
                            'Архангельск',
                            ['+7 (8182) 462-461', '+7 (8182) 60-88-44']
                        ],
                        [
                            'Лучший Сервис',
                            'Брянск',
                            ['+7 (4832) 377-119']
                        ],
                        [
                            'Солнечный ветер',
                            'Владивосток',
                            ['+7 (423) 260-16-16']
                        ],
                        [
                            'Типография «48 часов»',
                            'Владивосток',
                            ['+7 (423) 269-0701','+7 (423) 278-0701']
                        ],
                        [
                            'Издательство АРНИКА',
                            'Вологда',
                            ['+7 (8172) 211-267', '+7 (963) 733-2963']
                        ],
                        [
                            'Норма-принт',
                            'Воронеж',
                            ['+7 (473) 221-20-33']
                        ],
                        [
                            'Астория и К',
                            'Казань',
                            ['+7 (843) 260-4440', '+7 (843) 278-9896']
                        ],
                        [
                            'Первая Полиграфическая Компания',
                            'Казань',
                            ['+7( 843) 273-13-03', '+7 (843)274-91-11']
                        ],
                        [
                            'ГВРК',
                            'Краснодар',
                            ['+7 (861) 268-3217']
                        ],
                        [
                            'РосКом',
                            'Нижний Новгород',
                            ['+7 (831) 291-0462']
                        ],
                        [
                            'Полиграфическая компания «Вымпел-принт»',
                            'Киров',
                            ['+7 (8332) 705-245']
                        ]
                    ]
                +info-dealers-list('НАШИ ПРЕДСТАВИТЕЛИ', items)

        