include ../helper-mixins/svg-mix
block general-title
    section.section
        .section__wrapper
            .general-title
                .general-title__wrapper
                    h1.general-title__h1
                        b Календарные блоки Полимат
                        |
                        | — 232 готовых календарных блока на 2020 и 2021 год.
                        br
                        | 2 вида бумаги, 10 типоразмеров, 28 цветовых решений.
                        br
                        |Квартальные блоки ПОЛИМАТ способны удовлетворить любые вкусы!
                    .general-title__video.general-title__video-js
                        +svg-mix('play-ico', 'general-title__video-ico')
                        .general-title__video-text Производство календарных блоков
