extends ../layouts/default
include ../../modules/lk-block/lk-block
include ../../modules/breadcrumbs/breadcrumbs

block content
    section.section
        .section__wrapper
            +breadcrumbs('Личный кабинет', 'Мои данные')
            +lk-block(2)
                include ../../modules/lk-data/lk-data