extends ../layouts/default
include ../../modules/lk-block/lk-block
include ../../modules/breadcrumbs/breadcrumbs

block content
    section.section
        .section__wrapper
            +breadcrumbs('Личный кабинет', 'Смена пароля')
            +lk-block
                include ../../modules/lk-password/lk-password