extends ../layouts/default
include ../../modules/subscribe/subscribe
include ../../modules/helper-mixins/main-caption
include ../../modules/breadcrumbs/breadcrumbs

block content
    section.section
        .section__wrapper
            +breadcrumbs('Подписка')
            form.subscribe
                +h1caption('subscribe', 'Подписка')
                +input-main(value='')
                +subscribe