include ../control-elements/buttons/btn-main
include ../control-elements/inputs/input-main

block lk-private
    div.lk-private
        div.lk-private__block
            div.lk-company__block-flex
                picture(v-image-lazy-load)
                    source(type='image/webp' data-srcset='img/lk-image/arrow-left.webp')
                    img(data-src='img/lk-image/arrow-left.png')
                a(href="#").lk-company__block-link Вернуться к списку
            h1.lk-private__block-heading  Индивидуальный предприниматель
            div.lk-private__form
                div.lk-private__form-flex
                    div.lk-private__form-flex-item
                        div.lk-private__form-flex-item--title   Полное название компании
                        div.lk-private__form-flex-item--input
                            +input-main(placeholder='OOO Название компании')
                    div.lk-private__form-flex-item
                        div.lk-private__form-flex-item--title   ФИО
                        div.lk-private__form-flex-item--input
                            +input-main(placeholder='Иванов Иван Иванович')
                div.lk-private__form-flex--100
                    div.lk-private__form-flex-item--modify
                        div.lk-private__form-flex-item--title   БИК банка
                        div.lk-private__form-flex-item--input
                            +input-main(placeholder='044540132')
                    div.lk-private__form-flex-item
                        div.lk-private__form-flex-item--title   Номер расчетного счета
                        div.lk-private__form-flex-item--input
                            +input-main(placeholder='12345678901234567890')
                div.lk-private__form-flex--modify
                    div.lk-private__form-flex-item
                        div.lk-private__form-flex-item--title   ИНН
                        div.lk-private__form-flex-item--input--modify
                            +input-main(placeholder='6449013711')
        div.lk-private__block
            div.lk-private__form
                div.lk-private__form-flex
                    div.lk-private__form-flex-item--block
                        div.lk-private__form-flex-item
                            h3.lk-private__form-flex-item--heading   Юридический адрес
                            div.lk-private__form-flex-item--title   Населенный пункт
                            div.lk-private__form-flex-item--input
                                +input-main(placeholder='Москва')
                        div.lk-private__form-flex-item
                            div.lk-private__form-flex-item--title   Улица
                            div.lk-private__form-flex-item--input
                                +input-main(placeholder='Ленина')
                    div.lk-private__form-flex-item
                        div.lk-private__form-flex-item--flex
                            div.lk-private__form-flex-item--input_small
                                div.lk-private__form-flex-item--title
                                    div Дом,стр./
                                    div корп.
                                +input-main(placeholder='100')
                            div.lk-private__form-flex-item--input_small
                                div.lk-private__form-flex-item--title
                                    div офис/
                                    div кв.
                                +input-main(placeholder='100')
                            div.lk-private__form-flex-item--input_small
                                div.lk-private__form-flex-item--title   Индекс
                                +input-main(placeholder='000000')
                div.lk-private__form-flex
                    div.lk-private__form-flex-item--block
                        div.lk-private__form-flex-item
                            h3.lk-private__form-flex-item--heading   Фактический адрес
                            div.lk-private__form-flex-item--title   Населенный пункт
                            div.lk-private__form-flex-item--input
                                +input-main(placeholder='Москва')
                        div.lk-private__form-flex-item
                            div.lk-private__form-flex-item--title   Улица
                            div.lk-private__form-flex-item--input
                                +input-main(placeholder='Ленина')
                    div.lk-private__form-flex-item
                        div.lk-private__form-flex-item--flex
                            div.lk-private__form-flex-item--input_small
                                div.lk-private__form-flex-item--title
                                    div Дом,стр./
                                    div корп.
                                +input-main(placeholder='100')
                            div.lk-private__form-flex-item--input_small
                                div.lk-private__form-flex-item--title
                                    div офис/
                                    div кв.
                                +input-main(placeholder='100')
                            div.lk-private__form-flex-item--input_small
                                div.lk-private__form-flex-item--title   Индекс
                                +input-main(placeholder='000000')
                div.lk-private__form-flex
                    div.lk-private__form-flex-item--block
                        div.lk-private__form-flex-item
                            h3.lk-private__form-flex-item--heading   Адрес доставки
                            div.lk-private__form-flex-item--title   Населенный пункт
                            div.lk-private__form-flex-item--input
                                +input-main(placeholder='Москва')
                        div.lk-private__form-flex-item
                            div.lk-private__form-flex-item--title   Улица
                            div.lk-private__form-flex-item--input
                                +input-main(placeholder='Ленина')
                    div.lk-private__flex-item-flex
                        div.lk-private__form-flex-item--flex
                            div.lk-private__form-flex-item--input_small
                                div.lk-private__form-flex-item--title
                                    div Дом,стр./
                                    div корп.
                                +input-main(placeholder='100')
                            div.lk-private__form-flex-item--input_small
                                div.lk-private__form-flex-item--title
                                    div офис/
                                    div кв.
                                +input-main(placeholder='100')
                            div.lk-private__form-flex-item--input_small
                                div.lk-private__form-flex-item--title   Индекс
                                +input-main(placeholder='000000')
        div.lk-private__block
            div.lk-private__form
                div.lk-private__form-flex
                    div.lk-private__form-flex-item
                        div.lk-private__form-flex-item--title   Телефон
                        div.lk-private__form-flex-item--input
                            +input-main-handler(mask='+7 (###) ### ## ##' id="lk-private__input-phone" name='lk-private__input-phone'
                                class="inp inp--default inp--error inp--valid lk-private__input-phone lk-private__input-phone-js"
                                placeholder='Ваш телефон' data-require data-require-length=18)
                    div.lk-private__form-flex-item
                        div.lk-private__form-flex-item--title   E-mail
                        div.lk-private__form-flex-item--input
                            +input-main-handler(placeholder = 'Ваш e-mail' name='lk-private-input__email' data-require data-email)
        div.lk-private__flex
            a(href="#").lk-private__flex-link Удалить плательщика
            div.lk-private__flex-button
                +btn-main(class='btn--other btn--blue-invert')    Сохранить изменения
