@include above($small-phone) {

  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 3.4rem;
    align-items: center;
  }

  .login-form__heading {
    font-size: 2rem;
    line-height: 2.3rem;
    color: #000000;
    margin-bottom: 2.2rem;
    font-style: normal;
    font-weight: normal;
  }

  .login-form__input {
    width: 100%;
    margin-bottom: 0.7rem;
  }

  .login-form__checkbox {
    margin-bottom: 3.1rem;
    width: 100%;
    height: 2.4rem;
  }

  .login-form__button {
    width: 22.2rem;
    margin-bottom: 2.2rem;
  }

  .login-form__link {
    cursor: default;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $main-color-blue;
    text-decoration-line: underline;
    transition: color ease 0.25s, background-color ease 0.25s, border ease 0.25s;

    @include above($desktop) {
      cursor: pointer;

      &:hover {
        color: black;
      }
    }
  }

  .login-form__link:first-of-type {
    margin-bottom: 0.7rem;
  }
}

@include above($phone) {
  .login-form {
    width: 34rem;
  }
}

@include above($tablet-landscape) {
  .login-form__heading {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}

