@include above($small-phone) {
  .lk-password {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }

  .lk-password__heading {
    font-weight: normal;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #000000;
    margin-bottom: 1.2rem;
  }

  .lk-password__text {
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #000000;
    margin-bottom: 1.4rem;

  }

  .lk-password__input {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .lk-password__input picture {
    position: absolute;
    top: 1.5rem;
    right: 1.7rem;
  }

  .lk-password__button {
    width: 100%;
    margin-top: 0.3rem;
  }

}

@include above($tablet) {

  .lk-password__heading {
    font-size: 2rem;
    line-height: 2.3rem;
    margin-bottom: 2.4rem;
  }

  .lk-password {
    padding-top: 0;
    width: 22.9rem;
  }
}

@include above($tablet-landscape) {

  .lk-password {
    width: 28rem;
  }
}

@include above($big-desktop) {

  .lk-password {
    width: 25.2rem;
  }
}
