include ../control-elements/buttons/btn-main
include ../control-elements/inputs/input-main

block lk-password
    form.lk-password
        h1.lk-password__heading Смена пароля
        div.lk-password__text  Минимум 8 символов, буквы и цифры
        div.lk-password__input.lk-password__input-pass-js
            +input-main(class='lk-password__input-pass' type='password' placeholder='Новый пароль')
        div.lk-password__input.lk-password__input-pass-js
            +input-main(class='lk-password__input-pass' type='password' placeholder='Повторите пароль')
        div.lk-password__button
            +btn-main(class='btn--other btn--blue-invert')    Изменить пароль