.flipbook {
    width: 100% !important;
    height: auto !important;
    overflow: hidden;
    user-select: none;
    
    &__pdf-href{
        display: flex;
        align-items: center;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        font-size: 1.8rem;
        line-height: 3.3rem;
        color: $main-color-blue;

        span{
            text-decoration: underline;
        }

        svg{
            height: 2.9rem;
            width: 2.9rem;
            min-width: 2.9rem;
            fill: $main-color-blue;
            margin-right: 1.6rem;
        }

        &:hover{
            span{
                text-decoration: none;
            }
        }
    }

    &__loader {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        &:after{
            content: "";
            display: block;
            padding-top: 100%;
    
            @include above($mobile){
                padding-top: 50%;
            }
        }
        svg{
            width: 6.2rem;
            height: 6.2rem;
            overflow: visible;
            animation: flipbook__rotate 1s infinite linear;
            transform-origin: 2.7rem center;
    
            @keyframes flipbook__rotate {
                0%{
                    transform: rotate(0deg);
                }
                100%{
                    transform: rotate(360deg);
                }
            }
        }
        &--dnone{
            display: none;
        }
    }
    &__container {
        margin-top: 1.6rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }
    &--dnone {
        display: none;
    }
    &__prev{
        position: absolute;
        left: 0;
        top: 25%;
        bottom: 25%;
        display: block;
        height: 50%;
        width: 25%;
        z-index: 40;
        appearance: none;
        border: none;
        outline: none;
        user-select: none;
        cursor: auto;
    }

    &__next{
        position: absolute;
        right: 0;
        top: 25%;
        bottom: 25%;
        display: block;
        height: 50%;
        width: 25%;
        z-index: 40;
        appearance: none;
        border: none;
        outline: none;
        user-select: none;
        cursor: auto;
    }

    .p-temporal {
        display: none;
    }
    
    &:after{
        content: "";
        display: block;
        padding-top: 100%;

        @include above($mobile){
            padding-top: 50%;
        }
    }
}