include ../helper-mixins/svg-mix

mixin flipbook
    .flipbook__container
        .flipbook__loader
            svg(viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M26.7901 4.21094C41.5582 4.21094 53.5675 16.2329 53.5675 31.001V31.0896L58.8699 23.1045C59.3887 22.3199 60.4517 22.1047 61.2363 22.6236C62.0209 23.1424 62.236 24.2054 61.7172 24.99L54.0231 36.5691C53.7447 36.9867 53.3018 37.2525 52.8083 37.3157C52.7323 37.3284 52.6691 37.3284 52.5931 37.3284C52.1755 37.3284 51.7706 37.1765 51.4542 36.8855L40.7609 27.2552C40.0649 26.6225 40.0017 25.5468 40.6344 24.8382C41.2671 24.1422 42.3428 24.0789 43.0514 24.7116L50.1508 31.1276V31.001C50.1508 18.1058 39.6726 7.62772 26.7901 7.62772C13.9076 7.62772 3.41681 18.1058 3.41681 31.001C3.41681 43.8962 13.8949 54.3743 26.7775 54.3743C33.0162 54.3743 38.888 51.9446 43.2919 47.5281C43.9626 46.8574 45.0382 46.8574 45.7089 47.5281C46.3796 48.1988 46.3796 49.2745 45.7089 49.9452C40.647 55.0071 33.9274 57.7911 26.7775 57.7911C12.022 57.7911 2.67029e-05 45.7818 2.67029e-05 31.001C2.67029e-05 16.2203 12.022 4.21094 26.7901 4.21094Z" fill="#0019FF")
        button.flipbook__prev
        button.flipbook__next
        .flipbook(class = attributes.class).flipbook--dnone
            - var i = 0;
            while i < 36
                img(src=`img/pdf/polimat_blocks-${i++}.jpg`, alt="")