mixin holiday
    div.holiday
        h1.holiday-title Производственный календарь 2020
        h3.holiday-heading Первый квартал
        div.holiday-block
            div.holiday-block__item
                div.holiday-block__item-month
                    div.holiday-block__item-month-title Январь
                    div.holiday-block__item-month-flex
                        span
                        span Пн
                        span Вт
                        span Ср
                        span Чт
                        span Пт
                        span Сб
                        span Вс
                        span 1
                        span
                        span
                        span.holiday-date 1
                        span.holiday-date 2
                        span.holiday-date 3
                        span 4
                        span 5
                        span 2
                        span.holiday-date 6
                        span.holiday-date 7
                        span.holiday-date 8
                        span 9
                        span 10
                        span 11
                        span 12
                        span 3
                        span 13
                        span 14
                        span 15
                        span 16
                        span 17
                        span 18
                        span 19
                        span 4
                        span 20
                        span 21
                        span 22
                        span 23
                        span 24
                        span 25
                        span 26
                        span 5
                        span 27
                        span 28
                        span 29
                        span 30
                        span 31
                div.holiday-block__item-month
                    div.holiday-block__item-month-title Февраль
                    div.holiday-block__item-month-flex
                        span
                        span Пн
                        span Вт
                        span Ср
                        span Чт
                        span Пт
                        span Сб
                        span Вс
                        span 5
                        span
                        span
                        span
                        span
                        span
                        span 1
                        span 2
                        span 6
                        span 3
                        span 4
                        span 5
                        span 6
                        span 7
                        span 8
                        span 9
                        span 7
                        span 10
                        span 11
                        span 12
                        span 13
                        span 14
                        span 15
                        span 16
                        span 8
                        span 17
                        span 18
                        span 19
                        span 20
                        span 21
                        span 22
                        span 23
                        span 9
                        span.holiday-date 24
                        span 25
                        span 26
                        span 27
                        span 28
                        span 29
                div.holiday-block__item-month
                    div.holiday-block__item-month-title Март
                    div.holiday-block__item-month-flex
                        span
                        span Пн
                        span Вт
                        span Ср
                        span Чт
                        span Пт
                        span Сб
                        span Вс
                        span 9
                        span
                        span
                        span
                        span
                        span
                        span
                        span 1
                        span 10
                        span 2
                        span 3
                        span 4
                        span 5
                        span 6
                        span 7
                        span 8
                        span 11
                        span.holiday-date 9
                        span 10
                        span 11
                        span 12
                        span 13
                        span 14
                        span 15
                        span 12
                        span 16
                        span 17
                        span 18
                        span 19
                        span 20
                        span 21
                        span 22
                        span 13
                        span 23
                        span 24
                        span 25
                        span 26
                        span 27
                        span 28
                        span 29
                        span 14
                        span 30
                        span 31
            div.holiday-block--mobile.carts-slider
                div.swiper-container.slider
                    div.swiper-wrapper
                        div.holiday-block__item-flex--mobile.swiper-slide.slider-slide
                            div.holiday-block__item-flex--mobile-el Количество дней
                            div.holiday-block__item-flex--mobile-el Январь
                            div.holiday-block__item-flex--mobile-el Февраль
                            div.holiday-block__item-flex--mobile-el Календарные
                            div.holiday-block__item-flex--mobile-el 31
                            div.holiday-block__item-flex--mobile-el 29
                            div.holiday-block__item-flex--mobile-el Рабочие
                            div.holiday-block__item-flex--mobile-el 17
                            div.holiday-block__item-flex--mobile-el 19
                            div.holiday-block__item-flex--mobile-el Выходные
                            div.holiday-block__item-flex--mobile-el 14
                            div.holiday-block__item-flex--mobile-el 10
                            div.holiday-block__item-flex--mobile-el Рабочее время (в часах)
                            div.holiday-block__item-flex--mobile-el
                            div.holiday-block__item-flex--mobile-el
                            div.holiday-block__item-flex--mobile-el 40-часов. неделя
                            div.holiday-block__item-flex--mobile-el 136
                            div.holiday-block__item-flex--mobile-el 152
                            div.holiday-block__item-flex--mobile-el 39-часов. неделя
                            div.holiday-block__item-flex--mobile-el 132,6
                            div.holiday-block__item-flex--mobile-el 148,2
                            div.holiday-block__item-flex--mobile-el 36-часов. неделя
                            div.holiday-block__item-flex--mobile-el 122,4
                            div.holiday-block__item-flex--mobile-el 136,8
                            div.holiday-block__item-flex--mobile-el 24 часов. неделя
                            div.holiday-block__item-flex--mobile-el 81,6
                            div.holiday-block__item-flex--mobile-el 91,2
                        div.holiday-block__item-flex--mobile.swiper-slide.slider-slide
                            div.holiday-block__item-flex--mobile-el Март
                            div.holiday-block__item-flex--mobile-el Квартал
                            div.holiday-block__item-flex--mobile-el 31
                            div.holiday-block__item-flex--mobile-el 91
                            div.holiday-block__item-flex--mobile-el 21(19)
                            div.holiday-block__item-flex--mobile-el 57(55)
                            div.holiday-block__item-flex--mobile-el 10(12)
                            div.holiday-block__item-flex--mobile-el 34(36)
                            div.holiday-block__item-flex--mobile-el &nbsp
                            div.holiday-block__item-flex--mobile-el &nbsp
                            div.holiday-block__item-flex--mobile-el 168(152)
                            div.holiday-block__item-flex--mobile-el 456(440)
                            div.holiday-block__item-flex--mobile-el 163,8(148,2)
                            div.holiday-block__item-flex--mobile-el 444,6(429)
                            div.holiday-block__item-flex--mobile-el 151,2(136,8)
                            div.holiday-block__item-flex--mobile-el 410,4(396(36)
                            div.holiday-block__item-flex--mobile-el 100,8(91,2)
                            div.holiday-block__item-flex--mobile-el 273,6(264)
                img.holiday-block__item-flex--mobile-ico(src='img/touch-slider-ico.svg')
                div.carts-slider__navigation
                    button(type='button')
                        +svg-mix('arrow-long')
                    div.carts-slider__navigation-progress-bar
                        span
                    button(type='button')
                        +svg-mix('arrow-long')
            div.holiday-block__item
                div.holiday-block__item-flex
                    div.holiday-block__item-flex-el Количество дней
                    div.holiday-block__item-flex-el Январь
                    div.holiday-block__item-flex-el Февраль
                    div.holiday-block__item-flex-el Март
                    div.holiday-block__item-flex-el Квартал
                    div.holiday-block__item-flex-el Календарные
                    div.holiday-block__item-flex-el 31
                    div.holiday-block__item-flex-el 29
                    div.holiday-block__item-flex-el 31
                    div.holiday-block__item-flex-el 91
                    div.holiday-block__item-flex-el Рабочие
                    div.holiday-block__item-flex-el 17
                    div.holiday-block__item-flex-el 19
                    div.holiday-block__item-flex-el 21(19)
                    div.holiday-block__item-flex-el 57(55)
                    div.holiday-block__item-flex-el Выходные
                    div.holiday-block__item-flex-el 14
                    div.holiday-block__item-flex-el 10
                    div.holiday-block__item-flex-el 10(12)
                    div.holiday-block__item-flex-el 34(36)
                    div.holiday-block__item-flex-el Рабочее время (в часах)
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el 40-часов. неделя
                    div.holiday-block__item-flex-el 136
                    div.holiday-block__item-flex-el 152
                    div.holiday-block__item-flex-el 168(152)
                    div.holiday-block__item-flex-el 456(440)
                    div.holiday-block__item-flex-el 39-часов. неделя
                    div.holiday-block__item-flex-el 132,6
                    div.holiday-block__item-flex-el 148,2
                    div.holiday-block__item-flex-el 163,8(148,2)
                    div.holiday-block__item-flex-el 444,6(429)
                    div.holiday-block__item-flex-el 36-часов. неделя
                    div.holiday-block__item-flex-el 122,4
                    div.holiday-block__item-flex-el 136,8
                    div.holiday-block__item-flex-el 151,2(136,8)
                    div.holiday-block__item-flex-el 410,4(396(36)
                    div.holiday-block__item-flex-el 24 часов. неделя
                    div.holiday-block__item-flex-el 81,6
                    div.holiday-block__item-flex-el 91,2
                    div.holiday-block__item-flex-el 100,8(91,2)
                    div.holiday-block__item-flex-el 273,6(264)
        h3.holiday-heading Второй квартал
        div.holiday-block
            div.holiday-block__item
                div.holiday-block__item-month
                    div.holiday-block__item-month-title Апрель
                    div.holiday-block__item-month-flex
                        span
                        span Пн
                        span Вт
                        span Ср
                        span Чт
                        span Пт
                        span Сб
                        span Вс
                        span 14
                        span
                        span
                        span 1
                        span 2
                        span 3
                        span 4
                        span 5
                        span 15
                        span 6
                        span 7
                        span 8
                        span 9
                        span 10
                        span 11
                        span 12
                        span 16
                        span 13
                        span 14
                        span 15
                        span 16
                        span 17
                        span 18
                        span 19
                        span 17
                        span 20
                        span 21
                        span 22
                        span 23
                        span 24
                        span 25
                        span 26
                        span 18
                        span 27
                        span 28
                        span 29
                        span 30
                div.holiday-block__item-month
                    div.holiday-block__item-month-title Май
                    div.holiday-block__item-month-flex
                        span
                        span Пн
                        span Вт
                        span Ср
                        span Чт
                        span Пт
                        span Сб
                        span Вс
                        span 18
                        span
                        span
                        span
                        span
                        span.holiday-date 1
                        span 2
                        span 3
                        span 19
                        span.holiday-date 4
                        span.holiday-date 5
                        span 6
                        span 7
                        span 8
                        span 9
                        span 10
                        span 20
                        span.holiday-date 11
                        span 12
                        span 13
                        span 14
                        span 15
                        span 16
                        span 17
                        span 21
                        span 18
                        span 19
                        span 20
                        span 21
                        span 22
                        span 23
                        span 24
                        span 22
                        span 25
                        span 26
                        span 27
                        span 28
                        span 29
                        span 30
                        span 31
                div.holiday-block__item-month
                    div.holiday-block__item-month-title Июнь
                    div.holiday-block__item-month-flex
                        span
                        span Пн
                        span Вт
                        span Ср
                        span Чт
                        span Пт
                        span Сб
                        span Вс
                        span 23
                        span 1
                        span 2
                        span 3
                        span 4
                        span 5
                        span 6
                        span 7
                        span 24
                        span 8
                        span 9
                        span 10
                        span 11
                        span.holiday-date 12
                        span 13
                        span 14
                        span 15
                        span 16
                        span 17
                        span 25
                        span 18
                        span 19
                        span 20
                        span 21
                        span 26
                        span 22
                        span 23
                        span 24
                        span 25
                        span 26
                        span 27
                        span 28
                        span 27
                        span 29
                        span 30
            div.holiday-block--mobile.carts-slider
                div.swiper-container.slider
                    div.swiper-wrapper
                        div.holiday-block__item-flex--mobile.swiper-slide.slider-slide
                            div.holiday-block__item-flex--mobile-el Количество дней
                            div.holiday-block__item-flex--mobile-el Январь
                            div.holiday-block__item-flex--mobile-el Февраль
                            div.holiday-block__item-flex--mobile-el Календарные
                            div.holiday-block__item-flex--mobile-el 30
                            div.holiday-block__item-flex--mobile-el 31
                            div.holiday-block__item-flex--mobile-el Рабочие
                            div.holiday-block__item-flex--mobile-el 22(0)
                            div.holiday-block__item-flex--mobile-el 17
                            div.holiday-block__item-flex--mobile-el Выходные
                            div.holiday-block__item-flex--mobile-el 8(30)
                            div.holiday-block__item-flex--mobile-el 14
                            div.holiday-block__item-flex--mobile-el Рабочее время (в часах)
                            div.holiday-block__item-flex--mobile-el
                            div.holiday-block__item-flex--mobile-el
                            div.holiday-block__item-flex--mobile-el 40-часов. неделя
                            div.holiday-block__item-flex--mobile-el 175
                            div.holiday-block__item-flex--mobile-el 135
                            div.holiday-block__item-flex--mobile-el 39-часов. неделя
                            div.holiday-block__item-flex--mobile-el 170,6
                            div.holiday-block__item-flex--mobile-el 131,6
                            div.holiday-block__item-flex--mobile-el 36-часов. неделя
                            div.holiday-block__item-flex--mobile-el 157,4
                            div.holiday-block__item-flex--mobile-el 121,4
                            div.holiday-block__item-flex--mobile-el 24 часов. неделя
                            div.holiday-block__item-flex--mobile-el 104,6
                            div.holiday-block__item-flex--mobile-el 80,6
                        div.holiday-block__item-flex--mobile.swiper-slide.slider-slide
                            div.holiday-block__item-flex--mobile-el Март
                            div.holiday-block__item-flex--mobile-el Квартал
                            div.holiday-block__item-flex--mobile-el 30
                            div.holiday-block__item-flex--mobile-el 91
                            div.holiday-block__item-flex--mobile-el 21
                            div.holiday-block__item-flex--mobile-el 60(38)
                            div.holiday-block__item-flex--mobile-el 9
                            div.holiday-block__item-flex--mobile-el 31(53)
                            div.holiday-block__item-flex--mobile-el &nbsp
                            div.holiday-block__item-flex--mobile-el &nbsp
                            div.holiday-block__item-flex--mobile-el 167
                            div.holiday-block__item-flex--mobile-el 477(302)
                            div.holiday-block__item-flex--mobile-el 162,8
                            div.holiday-block__item-flex--mobile-el 465(294,4)
                            div.holiday-block__item-flex--mobile-el 150,2
                            div.holiday-block__item-flex--mobile-el 429(271,6)
                            div.holiday-block__item-flex--mobile-el 99,8
                            div.holiday-block__item-flex--mobile-el 285(180,4)
                img.holiday-block__item-flex--mobile-ico(src='img/touch-slider-ico.svg')
                div.carts-slider__navigation
                    button(type='button')
                        +svg-mix('arrow-long')
                    div.carts-slider__navigation-progress-bar
                        span
                    button(type='button')
                        +svg-mix('arrow-long')
            div.holiday-block__item
                div.holiday-block__item-flex
                    div.holiday-block__item-flex-el Количество дней
                    div.holiday-block__item-flex-el Январь
                    div.holiday-block__item-flex-el Февраль
                    div.holiday-block__item-flex-el Март
                    div.holiday-block__item-flex-el Квартал
                    div.holiday-block__item-flex-el Календарные
                    div.holiday-block__item-flex-el 30
                    div.holiday-block__item-flex-el 31
                    div.holiday-block__item-flex-el 30
                    div.holiday-block__item-flex-el 91
                    div.holiday-block__item-flex-el Рабочие
                    div.holiday-block__item-flex-el 22(0)
                    div.holiday-block__item-flex-el 17
                    div.holiday-block__item-flex-el 21
                    div.holiday-block__item-flex-el 60(38)
                    div.holiday-block__item-flex-el Выходные
                    div.holiday-block__item-flex-el 8(30)
                    div.holiday-block__item-flex-el 14
                    div.holiday-block__item-flex-el 9
                    div.holiday-block__item-flex-el 31(53)
                    div.holiday-block__item-flex-el Рабочее время (в часах)
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el 40-часов. неделя
                    div.holiday-block__item-flex-el 175
                    div.holiday-block__item-flex-el 135
                    div.holiday-block__item-flex-el 167
                    div.holiday-block__item-flex-el 477(302)
                    div.holiday-block__item-flex-el 39-часов. неделя
                    div.holiday-block__item-flex-el 170,6
                    div.holiday-block__item-flex-el 131,6
                    div.holiday-block__item-flex-el 162,8
                    div.holiday-block__item-flex-el 465(294,4)
                    div.holiday-block__item-flex-el 36-часов. неделя
                    div.holiday-block__item-flex-el 157,4
                    div.holiday-block__item-flex-el 121,4
                    div.holiday-block__item-flex-el 150,2
                    div.holiday-block__item-flex-el 429(271,6)
                    div.holiday-block__item-flex-el 24 часов. неделя
                    div.holiday-block__item-flex-el 104,6
                    div.holiday-block__item-flex-el 80,6
                    div.holiday-block__item-flex-el 99,8
                    div.holiday-block__item-flex-el 285(180,4)
        h3.holiday-heading Третий квартал
        div.holiday-block
            div.holiday-block__item
                div.holiday-block__item-month
                    div.holiday-block__item-month-title Июль
                    div.holiday-block__item-month-flex
                        span
                        span Пн
                        span Вт
                        span Ср
                        span Чт
                        span Пт
                        span Сб
                        span Вс
                        span 27
                        span
                        span
                        span 1
                        span 2
                        span 3
                        span 4
                        span 5
                        span 28
                        span 6
                        span 7
                        span 8
                        span 9
                        span 10
                        span 11
                        span 12
                        span 29
                        span 13
                        span 14
                        span 15
                        span 16
                        span 17
                        span 18
                        span 19
                        span 30
                        span 20
                        span 21
                        span 22
                        span 23
                        span 24
                        span 25
                        span 26
                        span 31
                        span 27
                        span 28
                        span 29
                        span 30
                        span 31
                div.holiday-block__item-month
                    div.holiday-block__item-month-title Август
                    div.holiday-block__item-month-flex
                        span
                        span Пн
                        span Вт
                        span Ср
                        span Чт
                        span Пт
                        span Сб
                        span Вс
                        span 31
                        span
                        span
                        span
                        span
                        span
                        span 1
                        span 2
                        span 32
                        span 3
                        span 4
                        span 5
                        span 6
                        span 7
                        span 8
                        span 9
                        span 33
                        span 10
                        span 11
                        span 12
                        span 13
                        span 14
                        span 15
                        span 16
                        span 34
                        span 17
                        span 18
                        span 19
                        span 20
                        span 21
                        span 22
                        span 23
                        span 35
                        span 24
                        span 25
                        span 26
                        span 27
                        span 28
                        span 29
                        span 30
                        span 36
                        span 31
                div.holiday-block__item-month
                    div.holiday-block__item-month-title Сентябрь
                    div.holiday-block__item-month-flex
                        span
                        span Пн
                        span Вт
                        span Ср
                        span Чт
                        span Пт
                        span Сб
                        span Вс
                        span 36
                        span
                        span 1
                        span 2
                        span 3
                        span 4
                        span 5
                        span 6
                        span 37
                        span 7
                        span 8
                        span 9
                        span 10
                        span 11
                        span 12
                        span 13
                        span 38
                        span 14
                        span 15
                        span 16
                        span 17
                        span 18
                        span 19
                        span 20
                        span 39
                        span 21
                        span 22
                        span 23
                        span 24
                        span 25
                        span 26
                        span 27
                        span 40
                        span 28
                        span 29
                        span 30
            div.holiday-block--mobile.carts-slider
                div.swiper-container.slider
                    div.swiper-wrapper
                        div.holiday-block__item-flex--mobile.swiper-slide.slider-slide
                            div.holiday-block__item-flex--mobile-el Количество дней
                            div.holiday-block__item-flex--mobile-el Январь
                            div.holiday-block__item-flex--mobile-el Февраль
                            div.holiday-block__item-flex--mobile-el Календарные
                            div.holiday-block__item-flex--mobile-el 31
                            div.holiday-block__item-flex--mobile-el 31
                            div.holiday-block__item-flex--mobile-el Рабочие
                            div.holiday-block__item-flex--mobile-el 23
                            div.holiday-block__item-flex--mobile-el 21
                            div.holiday-block__item-flex--mobile-el Выходные
                            div.holiday-block__item-flex--mobile-el 8
                            div.holiday-block__item-flex--mobile-el 10
                            div.holiday-block__item-flex--mobile-el Рабочее время (в часах)
                            div.holiday-block__item-flex--mobile-el
                            div.holiday-block__item-flex--mobile-el
                            div.holiday-block__item-flex--mobile-el 40-часов. неделя
                            div.holiday-block__item-flex--mobile-el 184
                            div.holiday-block__item-flex--mobile-el 168
                            div.holiday-block__item-flex--mobile-el 39-часов. неделя
                            div.holiday-block__item-flex--mobile-el 179,4
                            div.holiday-block__item-flex--mobile-el 163,8
                            div.holiday-block__item-flex--mobile-el 36-часов. неделя
                            div.holiday-block__item-flex--mobile-el 165,6
                            div.holiday-block__item-flex--mobile-el 151,2
                            div.holiday-block__item-flex--mobile-el 24 часов. неделя
                            div.holiday-block__item-flex--mobile-el 110,4
                            div.holiday-block__item-flex--mobile-el 100,8
                        div.holiday-block__item-flex--mobile.swiper-slide.slider-slide
                            div.holiday-block__item-flex--mobile-el Март
                            div.holiday-block__item-flex--mobile-el Квартал
                            div.holiday-block__item-flex--mobile-el 30
                            div.holiday-block__item-flex--mobile-el 92
                            div.holiday-block__item-flex--mobile-el 22
                            div.holiday-block__item-flex--mobile-el 66
                            div.holiday-block__item-flex--mobile-el 8
                            div.holiday-block__item-flex--mobile-el 26
                            div.holiday-block__item-flex--mobile-el &nbsp
                            div.holiday-block__item-flex--mobile-el &nbsp
                            div.holiday-block__item-flex--mobile-el 176
                            div.holiday-block__item-flex--mobile-el 528
                            div.holiday-block__item-flex--mobile-el 171,6
                            div.holiday-block__item-flex--mobile-el 514,8
                            div.holiday-block__item-flex--mobile-el 158,4
                            div.holiday-block__item-flex--mobile-el 475,2
                            div.holiday-block__item-flex--mobile-el 105,6
                            div.holiday-block__item-flex--mobile-el 316,8
                img.holiday-block__item-flex--mobile-ico(src='img/touch-slider-ico.svg')
                div.carts-slider__navigation
                    button(type='button')
                        +svg-mix('arrow-long')
                    div.carts-slider__navigation-progress-bar
                        span
                    button(type='button')
                        +svg-mix('arrow-long')
            div.holiday-block__item
                div.holiday-block__item-flex
                    div.holiday-block__item-flex-el Количество дней
                    div.holiday-block__item-flex-el Январь
                    div.holiday-block__item-flex-el Февраль
                    div.holiday-block__item-flex-el Март
                    div.holiday-block__item-flex-el Квартал
                    div.holiday-block__item-flex-el Календарные
                    div.holiday-block__item-flex-el 31
                    div.holiday-block__item-flex-el 31
                    div.holiday-block__item-flex-el 30
                    div.holiday-block__item-flex-el 92
                    div.holiday-block__item-flex-el Рабочие
                    div.holiday-block__item-flex-el 23
                    div.holiday-block__item-flex-el 21
                    div.holiday-block__item-flex-el 22
                    div.holiday-block__item-flex-el 66
                    div.holiday-block__item-flex-el Выходные
                    div.holiday-block__item-flex-el 8
                    div.holiday-block__item-flex-el 10
                    div.holiday-block__item-flex-el 8
                    div.holiday-block__item-flex-el 26
                    div.holiday-block__item-flex-el Рабочее время (в часах)
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el 40-часов. неделя
                    div.holiday-block__item-flex-el 184
                    div.holiday-block__item-flex-el 168
                    div.holiday-block__item-flex-el 176
                    div.holiday-block__item-flex-el 528
                    div.holiday-block__item-flex-el 39-часов. неделя
                    div.holiday-block__item-flex-el 179,4
                    div.holiday-block__item-flex-el 163,8
                    div.holiday-block__item-flex-el 171,6
                    div.holiday-block__item-flex-el 514,8
                    div.holiday-block__item-flex-el 36-часов. неделя
                    div.holiday-block__item-flex-el 165,6
                    div.holiday-block__item-flex-el 151,2
                    div.holiday-block__item-flex-el 158,4
                    div.holiday-block__item-flex-el 475,2
                    div.holiday-block__item-flex-el 24 часов. неделя
                    div.holiday-block__item-flex-el 110,4
                    div.holiday-block__item-flex-el 100,8
                    div.holiday-block__item-flex-el 105,6
                    div.holiday-block__item-flex-el 316,8
        h3.holiday-heading Четвертый квартал
        div.holiday-block
            div.holiday-block__item
                div.holiday-block__item-month
                    div.holiday-block__item-month-title Октябрь
                    div.holiday-block__item-month-flex
                        span
                        span Пн
                        span Вт
                        span Ср
                        span Чт
                        span Пт
                        span Сб
                        span Вс
                        span 40
                        span
                        span
                        span
                        span.holiday-date 1
                        span.holiday-date 2
                        span 3
                        span 4
                        span 41
                        span.holiday-date 5
                        span.holiday-date 6
                        span.holiday-date 7
                        span 8
                        span 9
                        span 10
                        span 11
                        span 42
                        span 12
                        span 13
                        span 14
                        span 15
                        span 16
                        span 17
                        span 18
                        span 43
                        span 19
                        span 20
                        span 21
                        span 22
                        span 23
                        span 24
                        span 25
                        span 44
                        span 26
                        span 27
                        span 28
                        span 29
                        span 30
                        span 31
                div.holiday-block__item-month
                    div.holiday-block__item-month-title Ноябрь
                    div.holiday-block__item-month-flex
                        span
                        span Пн
                        span Вт
                        span Ср
                        span Чт
                        span Пт
                        span Сб
                        span Вс
                        span 44
                        span
                        span
                        span
                        span
                        span
                        span
                        span 1
                        span 45
                        span 2
                        span 3
                        span.holiday-date 4
                        span 5
                        span 6
                        span 7
                        span 8
                        span 46
                        span 9
                        span 10
                        span 11
                        span 12
                        span 13
                        span 14
                        span 15
                        span 47
                        span 16
                        span 17
                        span 18
                        span 19
                        span 20
                        span 21
                        span 22
                        span 48
                        span 23
                        span 24
                        span 25
                        span 26
                        span 27
                        span 28
                        span 29
                        span 49
                        span 30
                div.holiday-block__item-month
                    div.holiday-block__item-month-title Декабрь
                    div.holiday-block__item-month-flex
                        span
                        span Пн
                        span Вт
                        span Ср
                        span Чт
                        span Пт
                        span Сб
                        span Вс
                        span 49
                        span
                        span 1
                        span 2
                        span 3
                        span 4
                        span 5
                        span 6
                        span 50
                        span 7
                        span 8
                        span 9
                        span 10
                        span 11
                        span 12
                        span 13
                        span 51
                        span 14
                        span 15
                        span 16
                        span 17
                        span 18
                        span 19
                        span 20
                        span 52
                        span 21
                        span 22
                        span 23
                        span 24
                        span 25
                        span 26
                        span 27
                        span 53
                        span 28
                        span 29
                        span 30
                        span 31
            div.holiday-block--mobile.carts-slider
                div.swiper-container.slider
                    div.swiper-wrapper
                        div.holiday-block__item-flex--mobile.swiper-slide.slider-slide
                            div.holiday-block__item-flex--mobile-el Количество дней
                            div.holiday-block__item-flex--mobile-el Январь
                            div.holiday-block__item-flex--mobile-el Февраль
                            div.holiday-block__item-flex--mobile-el Календарные
                            div.holiday-block__item-flex--mobile-el 31
                            div.holiday-block__item-flex--mobile-el 30
                            div.holiday-block__item-flex--mobile-el Рабочие
                            div.holiday-block__item-flex--mobile-el 22
                            div.holiday-block__item-flex--mobile-el 20
                            div.holiday-block__item-flex--mobile-el Выходные
                            div.holiday-block__item-flex--mobile-el 9
                            div.holiday-block__item-flex--mobile-el 10
                            div.holiday-block__item-flex--mobile-el Рабочее время (в часах)
                            div.holiday-block__item-flex--mobile-el
                            div.holiday-block__item-flex--mobile-el
                            div.holiday-block__item-flex--mobile-el 40-часов. неделя
                            div.holiday-block__item-flex--mobile-el 176
                            div.holiday-block__item-flex--mobile-el 159
                            div.holiday-block__item-flex--mobile-el 39-часов. неделя
                            div.holiday-block__item-flex--mobile-el 171,6
                            div.holiday-block__item-flex--mobile-el 155
                            div.holiday-block__item-flex--mobile-el 36-часов. неделя
                            div.holiday-block__item-flex--mobile-el 158,4
                            div.holiday-block__item-flex--mobile-el 143
                            div.holiday-block__item-flex--mobile-el 24 часов. неделя
                            div.holiday-block__item-flex--mobile-el 105,6
                            div.holiday-block__item-flex--mobile-el 95
                        div.holiday-block__item-flex--mobile.swiper-slide.slider-slide
                            div.holiday-block__item-flex--mobile-el Март
                            div.holiday-block__item-flex--mobile-el Квартал
                            div.holiday-block__item-flex--mobile-el 31
                            div.holiday-block__item-flex--mobile-el 92
                            div.holiday-block__item-flex--mobile-el 23
                            div.holiday-block__item-flex--mobile-el 65
                            div.holiday-block__item-flex--mobile-el 8
                            div.holiday-block__item-flex--mobile-el 27
                            div.holiday-block__item-flex--mobile-el &nbsp
                            div.holiday-block__item-flex--mobile-el &nbsp
                            div.holiday-block__item-flex--mobile-el 183
                            div.holiday-block__item-flex--mobile-el 518
                            div.holiday-block__item-flex--mobile-el 178,4
                            div.holiday-block__item-flex--mobile-el 505
                            div.holiday-block__item-flex--mobile-el 165,4
                            div.holiday-block__item-flex--mobile-el 466
                            div.holiday-block__item-flex--mobile-el 109,4
                            div.holiday-block__item-flex--mobile-el 310
                img.holiday-block__item-flex--mobile-ico(src='img/touch-slider-ico.svg')
                div.carts-slider__navigation
                    button(type='button')
                        +svg-mix('arrow-long')
                    div.carts-slider__navigation-progress-bar
                        span
                    button(type='button')
                        +svg-mix('arrow-long')
            div.holiday-block__item
                div.holiday-block__item-flex
                    div.holiday-block__item-flex-el Количество дней
                    div.holiday-block__item-flex-el Январь
                    div.holiday-block__item-flex-el Февраль
                    div.holiday-block__item-flex-el Март
                    div.holiday-block__item-flex-el Квартал
                    div.holiday-block__item-flex-el Календарные
                    div.holiday-block__item-flex-el 31
                    div.holiday-block__item-flex-el 30
                    div.holiday-block__item-flex-el 31
                    div.holiday-block__item-flex-el 92
                    div.holiday-block__item-flex-el Рабочие
                    div.holiday-block__item-flex-el 22
                    div.holiday-block__item-flex-el 20
                    div.holiday-block__item-flex-el 23
                    div.holiday-block__item-flex-el 65
                    div.holiday-block__item-flex-el Выходные
                    div.holiday-block__item-flex-el 9
                    div.holiday-block__item-flex-el 10
                    div.holiday-block__item-flex-el 8
                    div.holiday-block__item-flex-el 27
                    div.holiday-block__item-flex-el Рабочее время (в часах)
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el
                    div.holiday-block__item-flex-el 40-часов. неделя
                    div.holiday-block__item-flex-el 176
                    div.holiday-block__item-flex-el 159
                    div.holiday-block__item-flex-el 183
                    div.holiday-block__item-flex-el 518
                    div.holiday-block__item-flex-el 39-часов. неделя
                    div.holiday-block__item-flex-el 171,6
                    div.holiday-block__item-flex-el 155
                    div.holiday-block__item-flex-el 178,4
                    div.holiday-block__item-flex-el 505
                    div.holiday-block__item-flex-el 36-часов. неделя
                    div.holiday-block__item-flex-el 158,4
                    div.holiday-block__item-flex-el 143
                    div.holiday-block__item-flex-el 165,4
                    div.holiday-block__item-flex-el 466
                    div.holiday-block__item-flex-el 24 часов. неделя
                    div.holiday-block__item-flex-el 105,6
                    div.holiday-block__item-flex-el 95
                    div.holiday-block__item-flex-el 109,4
                    div.holiday-block__item-flex-el 310

