block lk-payer
    div.lk-payer
        h1.lk-payer__heading    Список плательщиков
        div.lk-payer__block
            div.lk-payer__item
                div.lk-payer__item-flex
                    div.lk-payer__item-flex-name OOO Всё для календарей
                    div.lk-payer__item-flex-info ИНН 6449013711 / КПП 644901001
                    div.lk-payer__item-flex-tel +7 900 000 00 00
                    div.lk-payer__item-flex-mail example@email.com
                a(href='lk-company.html').lk-payer__item-link Подробнее
            div.lk-payer__item
                div.lk-payer__item-flex
                    div.lk-payer__item-flex-name OOO Всё для календарей
                    div.lk-payer__item-flex-info ИНН 6449013711 / КПП 644901001
                    div.lk-payer__item-flex-tel +7 900 000 00 00
                    div.lk-payer__item-flex-mail example@email.com
                a(href='lk-company.html').lk-payer__item-link Подробнее
            div.lk-payer__item
                div.lk-payer__item-flex
                    div.div.lk-payer__item-flex-name OOO Всё для календарей
                    div.div.lk-payer__item-flex-info ИНН 6449013711 / КПП 644901001
                    div.lk-payer__item-flex-tel +7 900 000 00 00
                    div.lk-payer__item-flex-mail example@email.com
                a(href='lk-company.html').lk-payer__item-link Подробнее
            div.lk-payer__item
                div.lk-payer__item-flex
                    div.div.lk-payer__item-flex-name OOO Всё для календарей
                    div.div.lk-payer__item-flex-info ИНН 6449013711 / КПП 644901001
                    div.lk-payer__item-flex-tel +7 900 000 00 00
                    div.lk-payer__item-flex-mail example@email.com
                a(href='lk-company.html').lk-payer__item-link Подробнее
            div.lk-payer__item
                div.lk-payer__item-flex
                    div.div.lk-payer__item-flex-name OOO Всё для календарей
                    div.div.lk-payer__item-flex-info ИНН 6449013711 / КПП 644901001
                    div.lk-payer__item-flex-tel +7 900 000 00 00
                    div.lk-payer__item-flex-mail example@email.com
                a(href='lk-company.html').lk-payer__item-link Подробнее
            button(href='lk-new.html').lk-payer__item.lk-payer__item--new
                div.lk-payer__btn
