block top-side
    section.section.top-side
        div.section__wrapper.top-side__wrapper
            div.top-side__slider
                div.top-side__slider-wrapper
                    div.top-side__slider-navigation.swiper-container
                        ul.top-side__slider-navigation-wrapper.swiper-wrapper
                            li.top-side__slider-navigation-item.swiper-slide
                                button(type='button') К-Блоки: ЕВРОПА АРТ от 22,80
                            li.top-side__slider-navigation-item.swiper-slide
                                button(type='button') КУРСОРЫ АЛЬФА 100% аналог ГЕВАРИУС-ПОЛИМАТ
                            li.top-side__slider-navigation-item.swiper-slide
                                button(type='button') БОБИНЫ 3:1 все размеры от 3290 ₽
                            li.top-side__slider-navigation-item.swiper-slide
                                button(type='button') Е-Блоки iVORY для ежедневников и еженедельников от 75 руб.
                            li.top-side__slider-navigation-item.swiper-slide
                                button(type='button') К-Блоки: ЕВРОПА АРТ от 22,80
                            li.top-side__slider-navigation-item.swiper-slide
                                button(type='button') К-Блоки: ЕВРОПА АРТ от 22,80
                            li.top-side__slider-navigation-item.swiper-slide
                                button(type='button') К-Блоки: ЕВРОПА АРТ от 22,80
                            li.top-side__slider-navigation-item.swiper-slide
                                button(type='button') КУРСОРЫ АЛЬФА 100% аналог ГЕВАРИУС-ПОЛИМАТ
                div.swiper-container.slider
                    div.swiper-wrapper
                        - var gallery = 0
                        while gallery < 8
                            - gallery++
                            div.swiper-slide
                                img(src='img/top-side-banner2.png')
                div.top-side__slider-btn
                    div
                        span
                        span
