include ../../modules/helper-mixins/main-caption

mixin info-about-block
    .about-block
        .about-block__row
            .about-block__col
                h1.lk-block__title О компании Polimat
                .about-block__text
                    p
                        | Торгово-производственная компания "Polimat" является пионером российского рынка производства и продажи комплектующих для календарей и ежедневников.
                    p
                        | Компания возникла в 2000 году после запуска машины BIELOMATIK, формирующей из прямой проволоки двойную спираль типа 
                        a(href='#') "wire-o"
                        |  (двойная спираль используется для производства календарей, блокнотов и тетрадей) – мы оказались первыми, кому удалось реализовать эти замыслы. До этого такая проволока заводилась в Россию из-за границы.
                
                .about-block__text    
                    p
                        | Параллельно с этим мы почувствовали потребность рынка в 
                        a(href='#') готовых блоках для квартальных календарей
                        | . Парадокс заключался в том, что большинство типографий могло напечатать блоки самостоятельно, но мы рискнули и напечатали к сезону большую по количеству и выбору коллекцию готовых блоков. Таким образом, мы понизили себестоимость этой продукции (благодаря, в частности, покупке профессионального оборудования по подбору), и многим типографиям стало интересно пользоваться при изготовлении календарей для своих клиентов нашими блоками. Они экономили время на производстве заказа и увеличивали тем самым свою «пропускную способность», зарабатывая на печати рекламных постеров («верхушек») и сборке.
                
                .about-block__text.about-block__text--underline
                    p
                        | Конечно, сейчас мы – не единственные производители на этом рынке, но широта и качество нашего предложения до сих пор остаются непревзойденными.
            
            .about-block__col.about-block__col--m-first
                picture(v-image-lazy-load).about-block__img
                    source(type='image/webp' data-srcset='img/info-about-image/info-about.webp')
                    img(data-src='img/info-about-image/info-about.png' alt='about')

            .about-block__col
                .about-block__text
                    p
                        | Мы максимально расширили спектр продукции: 
                        a(href="#") курсоры, 
                        a(href="#") ригели, 
                        a(href="#") кольца пикколо, 
                        a(href="#") готовые блоки для ежедневников и планнингов.
                        |  Также мы предлагаем полный спектр 
                        a(href="#") оборудования для календарей
                        | , который позволяет небольшим типографиям и агентствам собирать календари самостоятельно.
                
                .about-block__text
                    p 
                        | География наших поставок с каждым годом становится все шире и шире. Торговая марка "Polimat" известна сегодня во многих городах России - от Калининграда до Владивостока наша продукция пользуется действительно заслуженной репутацией. 

            .about-block__col
                .about-block__text
                    p 
                        | Понимая, что работа с регионами немыслима без сильной 
                        a(href="info-dealers.html") дилерской сети
                        |, мы постоянно ищем новых партнеров и укрепляем связи со старыми. 
                .about-block__text
                    p
                        | "Polimat" - пионер и в области интернет-торговли комплектующими для производства календарей. Мы не только создали 
                        a(href="#") мощный и современный интернет-магазин
                        |, но и сделали очень смелый шаг - открыли в нем 
                        b всю информацию о состоянии склада и производства
                        |, что несомненно помогает нашим покупателям ориентироваться в текущей ситуации. Быстрый рост он-лайн продаж подтверждает правильность такого подхода. 
                
                .about-block__text
                    p
                        | Помня старую «поговорку» «Партия сказала – надо, комсомол ответил – есть!», мы стремимся к ситуации, когда вы скажете – НАДО!, а мы ответим – ЕСТЬ! Даже 31 декабря!
                
                .about-block__text
                    p
                        | До встречи!

