include ../../modules/control-elements/buttons/btn-main

mixin requisites(provider)
    .requisites
        if provider == 'OOO'
            .title-main.requisites__title Реквизиты ООО «Все для календарей»
            .requisites__text
                p Юридический адрес: 107497, Москва г, Амурская ул, дом № 5, стр. 2
                p тел.: (495) 287-33-77
                p ИНН 7718300356 / КПП 771801001
                p ОГРН 5147746159281
                p р/с 40702810238000010788
                p в Банке ПАО СБЕРБАНК г. Москва
                p к/с 30101810400000000225
                p БИК 044525225
                p Адрес для почтовой корреспонденции: 107497, Москва г, Амурская ул, дом № 5, стр. 2
        else if provider == 'IP'
            .title-main.requisites__title Реквизиты ИП Зарецкий А.В.
            .requisites__text
                p Юридический адрес: 142432, Московская обл, Ногинский р-н, Черноголовка г, 1-я ул, дом № 23, кв.18
                p тел.: (495) 777-30-53
                p ИНН 503150655573
                p р/с 40802810038000014570
                p в Банке ПАО СБЕРБАНК г. Москва
                p к/с 30101810400000000225
                p БИК 044525225
                p Адрес для почтовой корреспонденции: 107497, Москва г, Амурская ул, дом № 5, стр. 2

        .requisites__download
            a(href="#")
                svg
                    use(xlink:href='img/sprite.svg#pdf-ico')
                span Скачать реквизиты (.pdf)

        +btn-main(theme="blue").requisites__btn Контакты