block catalogue-head
    div.catalogue__head
        h1.catalogue__head-title.title-main Календарные блоки
        div.catalogue__head-options-mobile
            button(type='button').filter-menu__toggles  Фильтр