.catalogue__aside{
  width: 100%;
  height: auto;

  max-width: 30rem;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  padding-right: 3.2rem;

  border-top: 0.2rem solid #F0F0F0;
  .filter-module{
    overflow: visible;
    max-height: none;
  }
  &-links{
    width: 100%;
    height: auto;

    margin-top: 3.2rem;

    & > ul{
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      & > li{
        width: 100%;
        height: auto;

        &:not(:last-of-type){
          margin-bottom: 1.2rem;
        }

        & > a{
          font-size: 1.2rem;
          line-height: 1.4rem;
          color: black;

          padding-left: 1.6rem;

          position: relative;

          &:before{
            content: '';

            width: 0.8rem;
            height: 0.8rem;

            display: block;

            background-color: $main-color-blue;

            position: absolute;
            top: 50%;
            left: -0.8rem;

            transform: translateX(100%) translateY(-50%);

            border-radius: 50%;
          }

          @include above($desktop){
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  @include above($mid-desktop){
    display: flex;
  }
}