.questions{
  & .filter-module {
    overflow-y: hidden;
    max-height: none;
  }

  &__title {
    display: none;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.3rem;
    color: $main-black-color;

    @include above($tablet) {
      display: flex;
    }
  }

  &__caption{
    display: none;
    @include above($tablet){
      display: block;
    }
    @include above($tablet-landscape){
      margin-top: 2.5rem;
    }
  }
  &__column{
    width: 100%;
    &--second{
      @include above($desktop){
        margin-left: 5rem;
      }
    }
    @include above($desktop){
      width: 47%;
    }
  }
  &__nav-wrapper{
    //padding-top: 1.7rem;
    margin-bottom: 1rem;
    position: relative;
    font-size: 1.2rem;
    line-height: 1.4rem;
    display: flex;
    justify-content: flex-start;
    @include above($tablet){

      font-size: 1.4rem;
      line-height: 1.6rem;
    }

  }
  &__nav-item{
    padding: 1rem 0.3rem;
    border-bottom: 0.2rem solid $main-gray-color;
    cursor: pointer;
    &:not(:last-of-type) {
      margin-right: 0.2rem;
    }
    &:hover,
    &:focus{
      color: $main-color-blue;
      border-bottom: 0.2rem solid $main-color-blue;

    }
    @include above($tablet){
      padding: 1rem 1.6rem;
    }
    &--active{
      border-bottom: 0.2rem solid $main-color-blue;
      z-index: 5;
      font-weight: 500;
      color: $main-color-blue;
    }
  }
  &__nav-item-name{
    &--short{
      display: block;
      @include above($tablet){
        display: none;
      }
    }
    &--full{
      display: none;
      @include above($tablet){
        display: block;
      }
    }

  }
  &__wrapper{
    @include above($tablet){
      width: 100%;
      max-width: none;
    }
    @include above($desktop){
      flex-direction: row;
    }
    .questions__block-content-wrapper{
      overflow: hidden;
      border-bottom: 0.2rem solid $main-gray-color;
    }
  }
  &__wrapper.filter-module{
    max-height: none;
  }
  &__list{
    @include above($desktop){
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
  &__content{
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    @include above($desktop){
      flex-direction: row;
    }
  }
  .visually-hidden{
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
  }
  &__block-caption{
    font-weight: 500;
    color: #000000;
    padding: 1rem 0;
    height: auto;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
    @include above($tablet){
      font-size: 1.4rem;
      line-height: 1.6rem;
    }
    &-text{
      padding-right: 1rem;
      padding-bottom: 0.4rem;
    }

    &-text{
      text-align: left;
      width: 90%;

      @include above($tablet) {
        width: 100%;
      }
    }
    span{
      width: 2.7rem;
      height: 2.7rem;

      @include above($tablet){
        min-width: 4.2rem;
        height: 4.2rem;
        svg{
          width: 1.3rem;
          height: 0.8rem;
        }
      }
    }
  }
  .filter-module__toggle{
    &--active{
      span{
        border: 0.2rem solid $main-color-blue;
        svg{
          fill: $main-color-blue;
        }
      }
      color: $main-color-blue;
    }
  }

  &__block-content-items{
    &--row{
      display: flex;
      justify-content: flex-start;
      .questions__block-content-item:not(:first-child){
        margin-left: 2rem;
      }

    }
    &--hide-on-small-screen{
      display: none;
      @include above($tablet){
        display: flex;
        padding-top: 1rem;
      }
    }
  }
  &__block-content-item{
    &--row{
      margin-left: 0;
    }
  }

  &__block-content-img{
    padding-top: 0.6rem;
    width: 100%;
    @include above($tablet){
    }
    &--row{
      width: 100%
      //@include above($tablet){
      //  width: 22rem;
      //}
    }
  }
  &__block-content-text{
    padding: 2rem 5rem 2.2rem 0;
    max-width: 100%;
    word-break: break-word;
    font-size: 1.2rem;
    line-height: 1.4rem;
    @include above($tablet){
      font-size: 1.4rem;
      line-height: 1.6rem;
    }
  }
  &__block-content-link{
    color: $main-color-blue;
    text-decoration: underline;
    font-size: 1.2rem;
    line-height: 1.4rem;
    @include above($tablet){
      font-size: 1.4rem;
      line-height: 1.6rem;
    }
  }
  &__sub-caption{
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.1rem;
    padding: 4rem 0;
  }
}