mixin tab-btn(dataTab)
    button(class = attributes.class data-tab=dataTab).tab-btn
        block

mixin tab-content(dataTab)
    div(class = attributes.class data-tab=dataTab).tab-content
        block