block pop-up
    .pop-up
        .pop-up__wrapper
            .pop-up__close
            .pop-up__content

//<div class="lk-subscribe__checkbox-wrapper inp__wrapper">
//<input required placeholder="Ваш e-mail" type="text" class="inp inp--default inp--error inp--valid pop-up__subscribe-email-input" name="pop-up__subscribe-email-input" id="pop-up__subscribe-email-input" value="${this.options.email}">
//<p class="inp__error-message">Пожалуйста, заполните email</p>
//<p class="inp__valid-ico"></p>
//</div>
