.comparing-empty {
  display: flex;
  flex-direction: column;
  padding-top: 1.8rem;
  width: 100%;
}

.comparing-empty__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comparing-empty__heading {
  align-self: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 2.6rem;
  line-height: 3rem;
  color: #000000;
  margin-bottom: 6rem;
  @include above($big-desktop) {
    margin-bottom: 11.6rem;
  }
}

.comparing-empty__block-text {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $helper-color-gray;
  margin-top: 4rem;
  text-align: center;
}

.comparing-empty__block-button {
  width: 20rem;
  height: auto;
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  border-radius: 0.5rem;
  margin-top: 2.9rem;
  margin-bottom: 10rem;
  background: $main-color-blue;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.6rem;
  transition: color ease 0.25s, background-color ease 0.25s, border ease 0.25s;

  @include above($desktop){
    &:hover{
      background: $main-color-dark-blue;
      color: white;
    }
    &:focus{
      border: 0.1rem solid $main-color-dark-blue;
      color: $main-color-dark-blue;
      background: white;
    }
  }
}