mixin type-of-calendar
    div.type-calendar
        div.type-calendar-block
            h1.type-calendar-block__heading Классические блоки трио
            div.type-calendar-block__flex
                div.type-calendar-block__flex-item
                    div.type-calendar-block__flex-item-image
                        picture(v-image-lazy-load)
                            source(type='image/webp' data-srcset="img/type-of-calendar/type-of-calendar-1.webp")
                            img(data-src="img/type-of-calendar/type-of-calendar-1.png")
                div.type-calendar-block__flex-item
                    div.type-calendar-block__flex-item-el
                        div Тип
                        div размер,мм
                    div.type-calendar-block__flex-item-el W
                    div.type-calendar-block__flex-item-el h1-сп
                    div.type-calendar-block__flex-item-el h3-сп
                    div.type-calendar-block__flex-item-el ангстрем
                    div.type-calendar-block__flex-item-el 110
                    div.type-calendar-block__flex-item-el 265
                    div.type-calendar-block__flex-item-el —
                    div.type-calendar-block__flex-item-el микро
                    div.type-calendar-block__flex-item-el 175
                    div.type-calendar-block__flex-item-el 265
                    div.type-calendar-block__flex-item-el —
                    div.type-calendar-block__flex-item-el мини эконом
                    div.type-calendar-block__flex-item-el 297
                    div.type-calendar-block__flex-item-el 342
                    div.type-calendar-block__flex-item-el 114
                    div.type-calendar-block__flex-item-el мини
                    div.type-calendar-block__flex-item-el 297
                    div.type-calendar-block__flex-item-el 445
                    div.type-calendar-block__flex-item-el 145
                    div.type-calendar-block__flex-item-el миди
                    div.type-calendar-block__flex-item-el 335
                    div.type-calendar-block__flex-item-el 490
                    div.type-calendar-block__flex-item-el 160
                    div.type-calendar-block__flex-item-el макси
                    div.type-calendar-block__flex-item-el 370
                    div.type-calendar-block__flex-item-el —
                    div.type-calendar-block__flex-item-el 170
        div.type-calendar-block
            h2.type-calendar-block__heading Календарные блоки “ 3 в одном” или  блоки для домиков
            div.type-calendar-block__flex
                div.type-calendar-block__flex-item
                    div.type-calendar-block__flex-item-image
                        picture(v-image-lazy-load)
                            source(type='image/webp' data-srcset="img/type-of-calendar/type-of-calendar-2.webp")
                            img(data-src="img/type-of-calendar/type-of-calendar-2.png")
                div.type-calendar-block__flex-item
                    div.type-calendar-block__flex-item-el
                        div Тип
                        div размер,мм
                    div.type-calendar-block__flex-item-el W
                    div.type-calendar-block__flex-item-el h1
                    div.type-calendar-block__flex-item-el “3 в одном”, микро
                    div.type-calendar-block__flex-item-el 245
                    div.type-calendar-block__flex-item-el 175
                    div.type-calendar-block__flex-item-el “3 в одном”, мини
                    div.type-calendar-block__flex-item-el 297
                    div.type-calendar-block__flex-item-el 207
                    div.type-calendar-block__flex-item-el “3 в одном”, миди
                    div.type-calendar-block__flex-item-el 335
                    div.type-calendar-block__flex-item-el 235
                    div.type-calendar-block__flex-item-el Блоки для “домиков”
                    div.type-calendar-block__flex-item-el 200
                    div.type-calendar-block__flex-item-el 95
                    div.type-calendar-block__flex-item-el Блоки для “домиков”, мини
                    div.type-calendar-block__flex-item-el 170
                    div.type-calendar-block__flex-item-el 95
        div.type-calendar-block
            h2.type-calendar-block__heading Календарные блоки квадро
            div.type-calendar-block__flex
                div.type-calendar-block__flex-item
                    div.type-calendar-block__flex-item-image
                        picture(v-image-lazy-load)
                            source(type='image/webp' data-srcset="img/type-of-calendar/type-of-calendar-3.webp")
                            img(data-src="img/type-of-calendar/type-of-calendar-3.png")
                div.type-calendar-block__flex-text Используемые нами размеры (форматы) календарных блоков являются оптимальными как с технической, так и с экономической точек зрения.