include ../../control-elements/buttons/btn-main
include ../../control-elements/inputs/input-main
include ../../control-elements/checkbox/checkbox
include ../../breadcrumbs/breadcrumbs

block reg-main
    section.section.reg-main
        div.section__wrapper
            +breadcrumbs('Регистрация')
            form.reg-main-form
                h1.reg-main-form__heading Регистрация
                div.reg-main-form__input
                    +input-main(type='email' placeholder='Ваш e-mail')
                div.reg-main-form__input
                    +input-main(type='password' placeholder='Придумайте пароль')
                div.reg-main-form__input
                    +input-main(type='password' placeholder='Повторите пароль')
                div.reg-main-form__checkbox
                    +checkbox-main('Запомнить меня на этом компьютере', 'remember', ['checkbox-label',
                        'checkbox-label--square', 'checkbox-input'])
                div.reg-main-form__button
                    +btn-main(class='btn--other btn--blue-invert')    Зарегистрироваться
                a(href="auth.html").reg-main-form__link Войти