include ../../control-elements/buttons/btn-main
include ../../breadcrumbs/breadcrumbs

block pass-rec
    section.section.pass-rec
            div.section__wrapper
                +breadcrumbs('Пароль восстановлен')
                form.pass-rec-form
                    h1.pass-rec-form__heading Пароль восстановлен
                    div.pass-rec-form__text    Новый пароль оправлен на указанную вами почту
                    div.pass-rec-form__button
                        +btn-main(class='btn--other btn--blue-invert')    Войти